html {
  background: gray;
  padding: 20px;
}

.App {
  text-align: center;
}

#clear-button {
  height: 50px;
  width: 150px;
  border-radius: 20px;
  border: none;
  background-color: red;
  color: white;
  margin: 5px;
}

button {
  font-size: 14px;
}
